@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  color: #fff;
  background: #000;
  font-family: "Red Hat Display", sans-serif;
  font-size: 24px;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 64px;
}

#pagina {
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  padding: 0 10px;
}

.invertido {
  background-color: #fff;
  color: #000;
}

.direita {
  text-align: right;
}

/* Topo */

header h2 {
  font-weight: normal;
  color: #767676;
  flex: 1;
  font-size: 36px;
  margin: 10px 0;
}

header h2 strong {
  color: #fff;
}

header nav {
  display: flex;
  align-items: center;
}

header nav a {
  padding: 0 10px;
  font-size: 18px;
}

/* Destaque */

#destaque {
  margin: 30px 0 50px 0;
}

#destaque-texto {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#destaque-texto h1,
#destaque-texto p {
  margin: 10px 0;
}

#destaque aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
}

/* Principal */

main {
  background-image: url(media/teclas-azuis.jpg);
  background-size: cover;
  background-position: center;
}

main .container {
  justify-content: space-between;
  display: flex;
}

main .container > * {
  margin: 50px 0;
}

main .container > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
  padding: 20px;
  padding-left: 40px;
}

#topicos {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 20px 20px;
  padding: 0px;
}

#topicos > * {
  flex-basis: 30%;
}

main h2 {
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 20px;
}

main aside img {
  margin: 0 0 0 50px;
  padding: 20px;
}

/* Tecnologias */

#tecnologias {
  font-size: 36px;
  padding: 50px 0;
}

#tecnologias .container {
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

#tecnologias .container > * {
  max-height: 60px;
  padding: 0 10px;
}

/* Metodologia */

#metodologia {
  padding: 50px 0;
}

#metodologia .container {
  justify-content: space-around;
  align-items: center;
}

#metodologia p {
  flex: 1;
  text-align: center;
}

/* Links */

#links {
  display: flex;
  justify-content: space-between;
}

#links .container > * {
  padding: 50px 25px;
}

/* Vídeo */

#video .container {
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

#video ul {
  flex: 1;
  list-style: none;
  text-align: center;
}

#video li {
  padding: 3px;
}

#video video {
  max-width: 100%;
  padding-right: 25px;
}

/* Rodapé */

footer .container {
  height: 200px;
  padding: 50px 25px;
  justify-content: space-between;
  align-items: center;
}

#ermogenes {
  flex: 1;
  display: flex;
  font-size: 18px;
}

#ermogenes img {
  height: 100px;
  border-radius: 50px;
  margin-right: 20px;
}

#ermogenes > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#outros {
  height: 100%;
  flex-basis: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: right;
  font-size: 14px;
}

#outros > p {
  font-style: italic;
}

#outros > div:last-child a {
  display: block;
}

/* Responsividade */

@media (max-width: 1200px) {
  #destaque .container,
  main .container,
  #links .container,
  #video .container {
    flex-direction: column;
    align-items: center;
  }

  main aside img {
    margin: 0;
    padding: 0;
  }

  #links .container a {
    padding: 25px 25px;
  }

  #video video {
    padding: 0 25px;
  }
}

@media (max-width: 600px) {
  header .container, 
  footer .container {
    flex-direction: column;
    align-items: center;
  }

  #outros {
    padding-top: 25px;
    text-align: center;
  }
}
