@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap");

:root {
  --largura-maxima: 1280px;
  --largura-minima: 250px;
  --cor-fundo: #000;
  --cor-letra: #fff;
  --cor-letra-secundaria: #767676;
  --fonte: "Red Hat Display", sans-serif;
  --texto-minimo: 0.55rem;
  --texto-menor: 0.75rem;
  --texto-padrao: 24px;
  --texto-maior: 1.5rem;
  --texto-maximo: 2.7rem;
}

html {
  font-size: var(--texto-padrao);
}

body {
  min-width: var(--largura-minima);
  margin: 0;
  padding: 0;
  background: var(--cor-fundo);
  color: var(--cor-letra);
  font-family: var(--fonte);
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

h1 {
  font-size: var(--texto-maximo);
}

#pagina {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: var(--largura-maxima);
  margin: 0 auto;
  padding: 0 1em;
  display: flex;
}

.invertido {
  background-color: var(--cor-letra);
  color: var(--cor-fundo);
}

.direita {
  text-align: right;
}

/* Topo */

header h2 {
  font-weight: normal;
  font-size: var(--texto-maior);
  margin: 0.25em 0;
  color: var(--cor-letra-secundaria);
  flex: 1;
}

header h2 strong {
  color: var(--cor-letra);
}

header nav {
  display: flex;
  align-items: center;
}

header nav a {
  padding: 0 0.25em;
  font-size: var(--texto-menor);
}

/* Destaque */

#destaque {
  margin: 1em 0;
}

#destaque-texto {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#destaque-texto h1,
#destaque-texto p {
  padding: 0.5em 0.2em;
}

#destaque aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
}

/* Principal */

main {
  background-image: url(media/teclas-azuis.jpg);
  background-size: cover;
  background-position: center;
}

main .container {
  justify-content: space-between;
  display: flex;
}

main .container > * {
  margin: 2em 0;
}

main .container > div {
  padding: 1em 1em 1em 2em;
  font-size: var(--texto-menor);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#topicos {
  margin: 1em;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

#topicos > * {
  flex-basis: 30%;
}

main h2 {
  margin-bottom: 1em;
  font-weight: normal;
  font-size: var(--texto-maior);
}

main aside {
  display: flex;
}

main aside img {
  flex: 1;
}

/* Tecnologias */

#tecnologias {
  padding: 1.5em 0;
  font-size: var(--texto-maior);
}

#tecnologias .container {
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

#tecnologias .container > * {
  max-height: 2.5rem;
  padding: 0 0.5em;
}

/* Metodologia */

#metodologia {
  padding: 2em 0;
}

#metodologia .container {
  justify-content: space-around;
  align-items: center;
}

#metodologia p {
  text-align: center;
  flex: 1;
}

#metodologia img {
  height: 6em;
}

/* Links */

#links {
  display: flex;
  justify-content: space-between;
}

#links .container > * {
  padding: 1rem;
}

/* Vídeo */

#video .container {
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

#video ul {
  list-style: none;
  text-align: center;
  flex: 1;
}

#video li {
  padding: 0.2em;
}

#video video {
  max-width: 100%;
  padding: 0 1em;
}

/* Rodapé */

footer .container {
  height: 8em;
  padding: 1.5em 1em;
  justify-content: space-between;
  align-items: center;
}

#ermogenes {
  font-size: var(--texto-menor);
  flex: 1;
  display: flex;
}

#ermogenes img {
  height: 4rem;
  margin-right: 1.5em;
  border-radius: 50%;
}

#ermogenes > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#outros {
  height: 100%;
  flex-basis: 20em;
  padding: 0.5em;
  text-align: right;
  font-size: var(--texto-minimo);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#outros > p {
  font-style: italic;
}

#outros > div:last-child a {
  display: block;
}

/* Responsividade */

@media (max-width: 1200px) {
  :root {
    --texto-padrao: 20px;
  }

  #destaque .container,
  main .container,
  #links .container,
  #video .container {
    flex-direction: column;
    align-items: center;
  }

  #links .container a:first-child,
  #links .container a:first-child img {
    padding-bottom: 0;
    display: block;
  }
}

@media (max-width: 600px) {
  :root {
    --texto-padrao: 16px;
  }

  header .container,
  footer .container,
  #topicos {
    flex-direction: column;
    align-items: center;
  }

  #destaque aside {
    display: none;
  }

  #video video {
    display: none;
  }

  footer .container {
    height: 12em;
    text-align: center;
  }

  #outros {
    text-align: inherit;
  }
}
